In [7]:
import pandas as pd

df = pd.read_csv('netflix.csv')
df

,Name,Year,Age Rating,Duration,Category
0,The Sea Beast,2022.0,7+,1h 59m,Kids & Family Movies
1,Sonic the Hedgehog,2020.0,7+,1h 41m,Kids & Family Movies
2,Tom and Jerry,2021.0,7+,1h 41m,Kids & Family Movies
3,We Can Be Heroes,2020.0,7+,1h 40m,Kids & Family Movies
4,STAND BY ME Doraemon 2,2020.0,7+,1h 37m,Kids & Family Movies
...,...,...,...,...,...
2724,Mom,2017.0,16+,2h 18m,Dramas
2725,The Legend of Bhagat Singh,2002.0,16+,2h 35m,Movies Based on Real Life
2726,Article 15,2019.0,16+,2h 5m,Dramas
2727,We Are Family,2010.0,13+,1h 58m,Dramas
2728,Ajeeb Daastaans,2021.0,18+,2h 22m,Dramas

In [8]:
n_df = df['Name']
n_df

0                    The Sea Beast
1               Sonic the Hedgehog
2                    Tom and Jerry
3                 We Can Be Heroes
4           STAND BY ME Doraemon 2
                   ...
2724                           Mom
2725    The Legend of Bhagat Singh
2726                    Article 15
2727                 We Are Family
2728               Ajeeb Daastaans
Name: Name, Length: 2729, dtype: object

In [95]:
nc_df = df[['Name','Category']]
nc_df

                            Name                   Category
0                  The Sea Beast       Kids & Family Movies
1             Sonic the Hedgehog       Kids & Family Movies
2                  Tom and Jerry       Kids & Family Movies
3               We Can Be Heroes       Kids & Family Movies
4         STAND BY ME Doraemon 2       Kids & Family Movies
...                          ...                        ...
2724                         Mom                     Dramas
2725  The Legend of Bhagat Singh  Movies Based on Real Life
2726                  Article 15                     Dramas
2727               We Are Family                     Dramas
2728             Ajeeb Daastaans                     Dramas

[2729 rows x 2 columns]

In [12]:
row = df.loc[100]
row

Name          Motu Patlu in Wonderland
Year                            2013.0
Age Rating                          7+
Duration                        1h 15m
Category          Kids & Family Movies
Name: 100, dtype: object

In [14]:
itme = df.loc[100,'Name']
itme

'Motu Patlu in Wonderland'

In [9]:
nf2021 = df['Year'] == 2021
nf2021

0       False
1       False
2        True
3       False
4       False
        ...
2724    False
2725    False
2726    False
2727    False
2728     True
Name: Year, Length: 2729, dtype: bool

In [10]:
nf2021 = df[df['Year'] == 2021]
nf2021

,Name,Year,Age Rating,Duration,Category
2,Tom and Jerry,2021.0,7+,1h 41m,Kids & Family Movies
7,Back to the Outback,2021.0,7+,1h 35m,Kids & Family Movies
12,Wish Dragon,2021.0,7+,1h 42m,Kids & Family Movies
17,Pokémon the Movie: Secrets of the Jungle,2021.0,7+,1h 39m,Kids & Family Movies
18,Finding ‘Ohana,2021.0,7+,2h 3m,Kids & Family Movies
...,...,...,...,...,...
2683,The Harder They Fall,2021.0,16+,2h 19m,Action & Adventure
2690,Pagglait,2021.0,13+,1h 54m,Dramas
2710,Oxygen,2021.0,13+,1h 41m,Dramas
2713,I Care a Lot,2021.0,18+,1h 59m,Comedies
2728,Ajeeb Daastaans,2021.0,18+,2h 22m,Dramas

In [75]:
nf2021 = df[df['Year'] >= 2021]
nf2021

,Name,Year,Age Rating,Duration,Category
0,The Sea Beast,2022.0,7+,1h 59m,Kids & Family Movies
2,Tom and Jerry,2021.0,7+,1h 41m,Kids & Family Movies
7,Back to the Outback,2021.0,7+,1h 35m,Kids & Family Movies
12,Wish Dragon,2021.0,7+,1h 42m,Kids & Family Movies
17,Pokémon the Movie: Secrets of the Jungle,2021.0,7+,1h 39m,Kids & Family Movies
...,...,...,...,...,...
2683,The Harder They Fall,2021.0,16+,2h 19m,Action & Adventure
2690,Pagglait,2021.0,13+,1h 54m,Dramas
2710,Oxygen,2021.0,13+,1h 41m,Dramas
2713,I Care a Lot,2021.0,18+,1h 59m,Comedies
2728,Ajeeb Daastaans,2021.0,18+,2h 22m,Dramas

In [16]:
nf2021_dramas = df[(df['Year'] == 2021) & (df['Category'] == 'Dramas')]
nf2021_dramas

,Name,Year,Age Rating,Duration,Category
752,Space Sweepers,2021.0,16+,2h 16m,Dramas
826,Day of Destiny,2021.0,13+,1h 49m,Dramas
836,The Characters of the Continent,2021.0,18+,9m,Dramas
1021,Lockdown,2021.0,13+,2h 23m,Dramas
1068,Sweet Girl,2021.0,16+,1h 50m,Dramas
1144,The Unforgivable,2021.0,18+,1h 54m,Dramas
1145,The White Tiger,2021.0,16+,2h 5m,Dramas
1164,News of the World,2021.0,16+,1h 59m,Dramas
1171,Judas and the Black Messiah,2021.0,18+,2h 5m,Dramas
1174,Outlaws,2021.0,18+,2h 10m,Dramas
1175,The Stronghold,2021.0,16+,1h 45m,Dramas
1192,Sky High,2021.0,18+,2h 1m,Dramas
1205,The Throne,2021.0,13+,1h 14m,Dramas
1226,Sentinelle,2021.0,18+,1h 20m,Dramas
1228,"Vengeance Is Mine, All Others Pay Cash",2021.0,18+,1h 54m,Dramas
1232,Bruised,2021.0,18+,2h 12m,Dramas
1234,Operation Hyacinth,2021.0,18+,1h 52m,Dramas
1236,Je Suis Karl,2021.0,18+,2h 6m,Dramas
1308,Sentinelle,2021.0,16,1h 20m,Dramas
1310,The Unforgivable,2021.0,12,1h 54m,Dramas
1319,Bruised,2021.0,16,2h 12m,Dramas
1320,Operation Hyacinth,2021.0,14,1h 52m,Dramas
1375,The Summit of the Gods,2021.0,13+,1h 35m,Dramas
1458,Annaatthe (Hindi),2021.0,16+,2h 41m,Dramas
1466,Shyam Singha Roy,2021.0,13+,2h 34m,Dramas
1470,Kurup (Hindi),2021.0,13+,2h 34m,Dramas
1471,Anne+: The Film,2021.0,18+,1h 35m,Dramas
1496,Fatherhood,2021.0,13+,1h 50m,Dramas
1576,Blue Miracle,2021.0,13+,1h 36m,Dramas
1580,Chernobyl 1986,2021.0,13+,2h 16m,Dramas
1583,The Last Letter From Your Lover,2021.0,16+,1h 50m,Dramas
1586,Madame Claude,2021.0,18+,1h 52m,Dramas
1599,Malcolm & Marie,2021.0,18+,1h 46m,Dramas
1600,Amina,2021.0,16+,1h 45m,Dramas
1609,Monster,2021.0,16+,1h 39m,Dramas
1610,7 Prisoners,2021.0,16+,1h 34m,Dramas
1614,Two Distant Strangers,2021.0,18+,32m,Dramas
1616,Passing,2021.0,16+,1h 39m,Dramas
1890,Night in Paradise,2021.0,18+,2h 12m,Dramas
1912,The Hand of God,2021.0,18+,2h 10m,Dramas
2124,Don't Look Up,2021.0,18+,2h 18m,Dramas
2137,Dwindle,2021.0,13+,2h 5m,Dramas
2186,A Stand Worthy of Men,2021.0,13+,1h 52m,Dramas
2191,Prophetess,2021.0,13+,2h 23m,Dramas
2205,Mimi,2021.0,13+,2h 12m,Dramas
2267,Moxie,2021.0,16+,1h 51m,Dramas
2278,The Starling,2021.0,16+,1h 44m,Dramas
2326,Sardar Ka Grandson,2021.0,13+,2h 19m,Dramas
2673,The Lost Daughter,2021.0,18+,2h 2m,Dramas
2674,The Power of the Dog,2021.0,16+,2h 8m,Dramas
2690,Pagglait,2021.0,13+,1h 54m,Dramas
2710,Oxygen,2021.0,13+,1h 41m,Dramas
2728,Ajeeb Daastaans,2021.0,18+,2h 22m,Dramas

In [17]:
itme = df.loc[100,'Category']
itme

'Kids & Family Movies'

In [ ]:
df.loc[100]

In [83]:
df.loc[100,'Category'] = 'Dramas'
df.loc[100]

Name          Motu Patlu in Wonderland
Year                            2013.0
Age Rating                          7+
Duration                        1h 15m
Category                        Dramas
N_Category                        aiot
Name: 100, dtype: object

In [81]:
df['Category'] = 'Drama'
df

,Name,Year,Age Rating,Duration,Category,N_Duration
0,The Sea Beast,2022.0,7+,1h 59m,Drama,1시간 59분
1,Sonic the Hedgehog,2020.0,7+,1h 41m,Drama,1시간 41분
2,Tom and Jerry,2021.0,7+,1h 41m,Drama,1시간 41분
3,We Can Be Heroes,2020.0,7+,1h 40m,Drama,1시간 40분
4,STAND BY ME Doraemon 2,2020.0,7+,1h 37m,Drama,1시간 37분
...,...,...,...,...,...,...
2724,Mom,2017.0,16+,2h 18m,Drama,2시간 18분
2725,The Legend of Bhagat Singh,2002.0,16+,2h 35m,Drama,2시간 35분
2726,Article 15,2019.0,16+,2h 5m,Drama,2시간 5분
2727,We Are Family,2010.0,13+,1h 58m,Drama,1시간 58분
2728,Ajeeb Daastaans,2021.0,18+,2h 22m,Drama,2시간 22분

In [82]:
df = pd.read_csv('netflix.csv')
df['N_Category'] = 'aiot'
df

,Name,Year,Age Rating,Duration,Category,N_Category
0,The Sea Beast,2022.0,7+,1h 59m,Kids & Family Movies,aiot
1,Sonic the Hedgehog,2020.0,7+,1h 41m,Kids & Family Movies,aiot
2,Tom and Jerry,2021.0,7+,1h 41m,Kids & Family Movies,aiot
3,We Can Be Heroes,2020.0,7+,1h 40m,Kids & Family Movies,aiot
4,STAND BY ME Doraemon 2,2020.0,7+,1h 37m,Kids & Family Movies,aiot
...,...,...,...,...,...,...
2724,Mom,2017.0,16+,2h 18m,Dramas,aiot
2725,The Legend of Bhagat Singh,2002.0,16+,2h 35m,Movies Based on Real Life,aiot
2726,Article 15,2019.0,16+,2h 5m,Dramas,aiot
2727,We Are Family,2010.0,13+,1h 58m,Dramas,aiot
2728,Ajeeb Daastaans,2021.0,18+,2h 22m,Dramas,aiot

In [67]:
df = pd.read_csv('netflix.csv')
sub_df = df.loc[95:105]
sub_df['Category'] = 'Dramas'
sub_df

C:\Users\inopo\AppData\Local\Temp/ipykernel_33072/4149630866.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['Category'] = 'Dramas'

                                Name    Year Age Rating Duration Category
95                   Shrek the Third  2007.0         7+   1h 34m   Dramas
96                       Gnome Alone  2018.0         7+   1h 25m   Dramas
97   Rudra: Secret of the Black Moon  2020.0         7+   1h 27m   Dramas
98     Little Singham - Black Shadow  2021.0         7+      47m   Dramas
99                     The Sleepover  2020.0         7+   1h 43m   Dramas
100         Motu Patlu in Wonderland  2013.0         7+   1h 15m   Dramas
101         Chhota Bheem aur Krishna  2009.0         7+    1h 8m   Dramas
102       Barbie Big City Big Dreams  2021.0        All    1h 3m   Dramas
103                        Bee Movie  2007.0         7+   1h 32m   Dramas
104                            Rango  2011.0         7+   1h 49m   Dramas
105                       Nightbooks  2021.0         7+   1h 43m   Dramas

In [68]:
df.loc[95:105]

,Name,Year,Age Rating,Duration,Category
95,Shrek the Third,2007.0,7+,1h 34m,Kids & Family Movies
96,Gnome Alone,2018.0,7+,1h 25m,Kids & Family Movies
97,Rudra: Secret of the Black Moon,2020.0,7+,1h 27m,Kids & Family Movies
98,Little Singham - Black Shadow,2021.0,7+,47m,Kids & Family Movies
99,The Sleepover,2020.0,7+,1h 43m,Kids & Family Movies
100,Motu Patlu in Wonderland,2013.0,7+,1h 15m,Kids & Family Movies
101,Chhota Bheem aur Krishna,2009.0,7+,1h 8m,Kids & Family Movies
102,Barbie Big City Big Dreams,2021.0,All,1h 3m,Kids & Family Movies
103,Bee Movie,2007.0,7+,1h 32m,Kids & Family Movies
104,Rango,2011.0,7+,1h 49m,Kids & Family Movies
105,Nightbooks,2021.0,7+,1h 43m,Kids & Family Movies

In [72]:
df = pd.read_csv('netflix.csv')
sub_df = df.loc[95:105]
sub_df['Category'] = 'Drama'
df.loc[95:105] = sub_df
df.loc[90:110]

C:\Users\inopo\AppData\Local\Temp/ipykernel_33072/4062303472.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['Category'] = 'Drama'

,Name,Year,Age Rating,Duration,Category
90,Secret Magic Control Agency,2021.0,7+,1h 45m,Kids & Family Movies
91,The Christmas Chronicles: Part Two,2020.0,7+,1h 55m,Kids & Family Movies
92,A Babysitter's Guide to Monster Hunting,2020.0,7+,1h 38m,Kids & Family Movies
93,The Boss Baby: Get That Baby!,2020.0,7+,24m,Kids & Family Movies
94,Kung-Fu Kings 4: The Challenge of Kung Fu Brot...,2018.0,7+,1h 26m,Kids & Family Movies
95,Shrek the Third,2007.0,7+,1h 34m,Drama
96,Gnome Alone,2018.0,7+,1h 25m,Drama
97,Rudra: Secret of the Black Moon,2020.0,7+,1h 27m,Drama
98,Little Singham - Black Shadow,2021.0,7+,47m,Drama
99,The Sleepover,2020.0,7+,1h 43m,Drama
100,Motu Patlu in Wonderland,2013.0,7+,1h 15m,Drama
101,Chhota Bheem aur Krishna,2009.0,7+,1h 8m,Drama
102,Barbie Big City Big Dreams,2021.0,All,1h 3m,Drama
103,Bee Movie,2007.0,7+,1h 32m,Drama
104,Rango,2011.0,7+,1h 49m,Drama
105,Nightbooks,2021.0,7+,1h 43m,Drama
106,The SpongeBob SquarePants Movie,2004.0,7+,1h 28m,Kids & Family Movies
107,Shrek Forever After,2010.0,7+,1h 35m,Kids & Family Movies
108,Ella Enchanted,2004.0,7+,1h 36m,Kids & Family Movies
109,Puss in Boots,2011.0,7+,1h 32m,Kids & Family Movies
110,The Smurfs,2011.0,7+,1h 42m,Kids & Family Movies

In [73]:
df = pd.read_csv('netflix.csv')
sub_df = df.loc[95:105]
sub_df['Category'] = 'Drama'
df.update(sub_df)
df.loc[90:110]

C:\Users\inopo\AppData\Local\Temp/ipykernel_33072/3007459431.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['Category'] = 'Drama'

,Name,Year,Age Rating,Duration,Category
90,Secret Magic Control Agency,2021.0,7+,1h 45m,Kids & Family Movies
91,The Christmas Chronicles: Part Two,2020.0,7+,1h 55m,Kids & Family Movies
92,A Babysitter's Guide to Monster Hunting,2020.0,7+,1h 38m,Kids & Family Movies
93,The Boss Baby: Get That Baby!,2020.0,7+,24m,Kids & Family Movies
94,Kung-Fu Kings 4: The Challenge of Kung Fu Brot...,2018.0,7+,1h 26m,Kids & Family Movies
95,Shrek the Third,2007.0,7+,1h 34m,Drama
96,Gnome Alone,2018.0,7+,1h 25m,Drama
97,Rudra: Secret of the Black Moon,2020.0,7+,1h 27m,Drama
98,Little Singham - Black Shadow,2021.0,7+,47m,Drama
99,The Sleepover,2020.0,7+,1h 43m,Drama
100,Motu Patlu in Wonderland,2013.0,7+,1h 15m,Drama
101,Chhota Bheem aur Krishna,2009.0,7+,1h 8m,Drama
102,Barbie Big City Big Dreams,2021.0,All,1h 3m,Drama
103,Bee Movie,2007.0,7+,1h 32m,Drama
104,Rango,2011.0,7+,1h 49m,Drama
105,Nightbooks,2021.0,7+,1h 43m,Drama
106,The SpongeBob SquarePants Movie,2004.0,7+,1h 28m,Kids & Family Movies
107,Shrek Forever After,2010.0,7+,1h 35m,Kids & Family Movies
108,Ella Enchanted,2004.0,7+,1h 36m,Kids & Family Movies
109,Puss in Boots,2011.0,7+,1h 32m,Kids & Family Movies
110,The Smurfs,2011.0,7+,1h 42m,Kids & Family Movies

In [10]:
df = pd.read_csv('netflix.csv')
df = df.append({'Name': 'aa', 'Year': 2022.0, 'Age Rating': '7+', 'Duration': '1h 22m', 'Category': 'Drama'}, ignore_index=True)
df.iloc[-2:]

C:\Users\trave\AppData\Local\Temp\ipykernel_16032\2350661551.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Name': 'aa', 'Year': 2022.0, 'Age Rating': '7+', 'Duration': '1h 22m', 'Category': 'Drama'}, ignore_index=True)

                 Name    Year Age Rating Duration Category
2728  Ajeeb Daastaans  2021.0        18+   2h 22m   Dramas
2729               aa  2022.0         7+   1h 22m    Drama

In [15]:
df = pd.read_csv('netflix.csv')
df.loc[100] = {'Name': 'aa', 'Year': 2022.0, 'Age Rating': '7+', 'Duration': '1h 22m', 'Category': 'Drama'}
df.loc[99:101]

,Name,Year,Age Rating,Duration,Category
99,The Sleepover,2020.0,7+,1h 43m,Kids & Family Movies
100,aa,2022.0,7+,1h 22m,Drama
101,Chhota Bheem aur Krishna,2009.0,7+,1h 8m,Kids & Family Movies

In [16]:
df = pd.read_csv('netflix.csv')
df = df.set_index('Name')
df

,Year,Age Rating,Duration,Category
Name,,,,
The Sea Beast,2022.0,7+,1h 59m,Kids & Family Movies
Sonic the Hedgehog,2020.0,7+,1h 41m,Kids & Family Movies
Tom and Jerry,2021.0,7+,1h 41m,Kids & Family Movies
We Can Be Heroes,2020.0,7+,1h 40m,Kids & Family Movies
STAND BY ME Doraemon 2,2020.0,7+,1h 37m,Kids & Family Movies
...,...,...,...,...
Mom,2017.0,16+,2h 18m,Dramas
The Legend of Bhagat Singh,2002.0,16+,2h 35m,Movies Based on Real Life
Article 15,2019.0,16+,2h 5m,Dramas
We Are Family,2010.0,13+,1h 58m,Dramas
Ajeeb Daastaans,2021.0,18+,2h 22m,Dramas

In [18]:
df.loc['The Sea Beast']
df.iloc[0]

Year                        2022.0
Age Rating                      7+
Duration                    1h 59m
Category      Kids & Family Movies
Name: The Sea Beast, dtype: object

In [61]:
df = pd.read_csv('netflix.csv')

df['Year'].sum()

5448269.0

In [28]:
df['Year'].value_counts()

2021.0    388
2020.0    330
2022.0    278
2019.0    269
2018.0    246
2017.0    158
2016.0    113
2015.0     74
2013.0     72
2011.0     70
2008.0     58
2014.0     57
2010.0     53
2009.0     51
2004.0     50
2012.0     50
2005.0     40
2007.0     39
2006.0     38
2003.0     32
2001.0     27
2002.0     23
1998.0     21
1999.0     20
2000.0     20
1997.0     19
1995.0     18
1994.0     14
1996.0     13
1993.0     13
1984.0      7
1986.0      6
1989.0      4
1988.0      4
1980.0      3
1963.0      3
1991.0      3
1983.0      2
1961.0      2
1975.0      2
1981.0      2
1990.0      2
1992.0      2
1978.0      2
1954.0      1
1979.0      1
1985.0      1
1958.0      1
1982.0      1
1977.0      1
Name: Year, dtype: int64

In [29]:
df.groupby(by='Year').count()

        Name  Age Rating  Duration  Category
Year
1954.0     1           1         1         1
1958.0     1           1         1         1
1961.0     2           2         2         2
1963.0     3           3         3         3
1975.0     2           2         2         2
1977.0     1           1         1         1
1978.0     2           2         2         2
1979.0     1           1         1         1
1980.0     3           3         3         3
1981.0     2           2         2         2
1982.0     1           1         1         1
1983.0     2           2         2         2
1984.0     7           7         7         7
1985.0     1           1         1         1
1986.0     6           6         6         6
1988.0     4           4         4         4
1989.0     4           4         4         4
1990.0     2           2         2         2
1991.0     3           3         3         3
1992.0     2           2         2         2
1993.0    13          13        13        13
1994.0    14          14        14        14
1995.0    18          18        18        18
1996.0    13          13        13        13
1997.0    19          19        19        19
1998.0    21          21        21        21
1999.0    20          20        20        20
2000.0    20          20        20        20
2001.0    27          27        27        27
2002.0    23          23        23        23
2003.0    32          32        32        32
2004.0    50          50        50        50
2005.0    40          40        40        40
2006.0    38          38        38        38
2007.0    39          39        39        39
2008.0    58          58        58        58
2009.0    51          51        51        51
2010.0    53          53        53        53
2011.0    70          70        70        70
2012.0    50          50        50        50
2013.0    72          72        72        72
2014.0    57          57        57        57
2015.0    74          74        74        74
2016.0   113         113       113       113
2017.0   158         158       158       158
2018.0   246         246       246       246
2019.0   269         269       269       269
2020.0   330         330       330       329
2021.0   388         388       388       388
2022.0   278         278       278       278

In [87]:
cygroup = df[['Category','Year']].groupby(by='Category').mean()
cygroup = cygroup.rename(columns = {'Year':'mean_year'})
cygroup

                            mean_year
Category
Action                    2021.000000
Action & Adventure        2013.175676
Adult Animation           2015.500000
African Movies            2020.500000
Anime Movies              2010.790323
...                               ...
Thriller Movies           2015.698347
Thrillers                 2019.777778
True Crime Documentaries  2020.909091
US Movies                 2009.846154
Westerns                  2021.000000

[69 rows x 1 columns]

In [94]:
# cygroup = cygroup.dropna()
# cygroup
cygroup['mean_year'] = cygroup['mean_year'].astype(int)
cygroup

                          mean_year
Category
Action                         2021
Action & Adventure             2013
Adult Animation                2015
African Movies                 2020
Anime Movies                   2010
...                             ...
Thriller Movies                2015
Thrillers                      2019
True Crime Documentaries       2020
US Movies                      2009
Westerns                       2021

[66 rows x 1 columns]

In [31]:
ycgroup = df.groupby(by=['Year','Category']).count()
ycgroup

                                 Name  Age Rating  Duration
Year   Category
1954.0 Romantic Movies              1           1         1
1958.0 Middle Eastern Movies        1           1         1
1961.0 Action & Adventure           1           1         1
       Military Movies              1           1         1
1963.0 Action & Adventure           1           1         1
...                               ...         ...       ...
2022.0 Telugu-Language Movies       4           4         4
       Thriller Movies             19          19        19
       Thrillers                    2           2         2
       True Crime Documentaries     7           7         7
       US Movies                    1           1         1

[643 rows x 3 columns]

In [33]:
ycgroup = ycgroup[['Name']].rename(columns={'Name':'count'})
ycgroup

                                 count
Year   Category
1954.0 Romantic Movies               1
1958.0 Middle Eastern Movies         1
1961.0 Action & Adventure            1
       Military Movies               1
1963.0 Action & Adventure            1
...                                ...
2022.0 Telugu-Language Movies        4
       Thriller Movies              19
       Thrillers                     2
       True Crime Documentaries      7
       US Movies                     1

[643 rows x 1 columns]

In [77]:
df = pd.read_csv('netflix.csv')
df

,Name,Year,Age Rating,Duration,Category
0,The Sea Beast,2022.0,7+,1h 59m,Kids & Family Movies
1,Sonic the Hedgehog,2020.0,7+,1h 41m,Kids & Family Movies
2,Tom and Jerry,2021.0,7+,1h 41m,Kids & Family Movies
3,We Can Be Heroes,2020.0,7+,1h 40m,Kids & Family Movies
4,STAND BY ME Doraemon 2,2020.0,7+,1h 37m,Kids & Family Movies
...,...,...,...,...,...
2724,Mom,2017.0,16+,2h 18m,Dramas
2725,The Legend of Bhagat Singh,2002.0,16+,2h 35m,Movies Based on Real Life
2726,Article 15,2019.0,16+,2h 5m,Dramas
2727,We Are Family,2010.0,13+,1h 58m,Dramas
2728,Ajeeb Daastaans,2021.0,18+,2h 22m,Dramas

In [80]:
def re_duration(x):
    x = str(x)
    x = x.replace('h','시간')
    x = x.replace('m','분')
    return x

df['N_Duration'] = df['Duration'].apply(re_duration)
df

,Name,Year,Age Rating,Duration,Category,N_Duration
0,The Sea Beast,2022.0,7+,1h 59m,Kids & Family Movies,1시간 59분
1,Sonic the Hedgehog,2020.0,7+,1h 41m,Kids & Family Movies,1시간 41분
2,Tom and Jerry,2021.0,7+,1h 41m,Kids & Family Movies,1시간 41분
3,We Can Be Heroes,2020.0,7+,1h 40m,Kids & Family Movies,1시간 40분
4,STAND BY ME Doraemon 2,2020.0,7+,1h 37m,Kids & Family Movies,1시간 37분
...,...,...,...,...,...,...
2724,Mom,2017.0,16+,2h 18m,Dramas,2시간 18분
2725,The Legend of Bhagat Singh,2002.0,16+,2h 35m,Movies Based on Real Life,2시간 35분
2726,Article 15,2019.0,16+,2h 5m,Dramas,2시간 5분
2727,We Are Family,2010.0,13+,1h 58m,Dramas,1시간 58분
2728,Ajeeb Daastaans,2021.0,18+,2h 22m,Dramas,2시간 22분

1.Age Rating 컬럼의 +를 제거하고 All 및 TV-MA 값은 0으로 만들어 숫자형태로 N_Age_Rating 컬럼에 할당하여라
2.N_Age_Rating 으로 그룹바이를 하여 나이별 개수를 파악하여라
3.Category 로 그룹바이를 하여 Category별 평균 나이를 구하여라

In [86]:
df['Age Rating'].value_counts()

13+      737
16+      716
18+      716
7+       416
All       67
16        33
12        15
14         3
TV-MA      1
Name: Age Rating, dtype: int64

In [104]:
df['Name'].drop_duplicates()

0                             The Sea Beast
1                        Sonic the Hedgehog
2                             Tom and Jerry
3                          We Can Be Heroes
4                    STAND BY ME Doraemon 2
                       ...
2670          I'm Thinking of Ending Things
2695                        Fantastic Fungi
2696        Metallica: Some Kind of Monster
2721                            To the Bone
2723    A Beautiful Day in the Neighborhood
Name: Name, Length: 1813, dtype: object

In [101]:
df1 = df[['Name','Category']]
df2 = df[['Name','Year']]
df1.merge(df2, on = 'Name')

                                     Name                   Category    Year
0                           The Sea Beast       Kids & Family Movies  2022.0
1                           The Sea Beast       Kids & Family Movies  2022.0
2                           The Sea Beast                  US Movies  2022.0
3                           The Sea Beast                  US Movies  2022.0
4                      Sonic the Hedgehog       Kids & Family Movies  2020.0
...                                   ...                        ...     ...
4946        I'm Thinking of Ending Things                     Dramas  2020.0
4947                      Fantastic Fungi      Science & Nature Docs  2019.0
4948      Metallica: Some Kind of Monster                      Music  2004.0
4949                          To the Bone                     Dramas  2017.0
4950  A Beautiful Day in the Neighborhood  Movies Based on Real Life  2019.0

[4951 rows x 3 columns]

In [102]:
cygroup.merge(df1, on = 'Category')

                Category  mean_year                      Name
0                 Action       2021                Below Zero
1                 Action       2021  Illang: The Wolf Brigade
2     Action & Adventure       2013   Spider-Man: No Way Home
3     Action & Adventure       2013               RRR (Hindi)
4     Action & Adventure       2013                 Uncharted
...                  ...        ...                       ...
2719           US Movies       2009           The Willoughbys
2720           US Movies       2009             The Sea Beast
2721           US Movies       2009  How to Train Your Dragon
2722           US Movies       2009     Rise of the Guardians
2723            Westerns       2021      The Harder They Fall

[2724 rows x 3 columns]